@import 'color';

*{
	padding:0px;
	margin:0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.edit > .recursiveMenu > .switch{
	align-items: center;
	display: flex;
	.switch{
		display:flex !important;
	}
}

.discover{
	position:relative;
	.suggest{
		position: absolute;
	    top: -2.5rem;
	    right: 0;
	    font-size: 90%;
	}
	.edit{
		display: flex;
		background: $action;
	}

	.edit > .recursiveMenu{
		display: flex !important;
	}

	.recursiveMenu{
		select{
			margin:0 1rem;
			display:inline-block;
			max-width: 8rem;
		}
		
		.switch .switch{
			display: inline-block !important;
		}
		.list{

			background:$fill;
			line-height:3rem;
			max-height: 9rem;
			overflow:scroll;
			list-style:none;
			li{
				padding:0 7rem 0 1rem;
				color:$fill-darkest;
			}
			.sel{
				background: $action;
				color: white;
			}
		}
	}
	.skillRange{
		display:flex;
		align-items: center;

	}
		
}


.skillDisplay{
	padding: .5rem 0 1.25rem;
	.child{
		//overflow: visible;
		//white-space: nowrap;
		font-size:90%;
	}
	span{
		display:inline;
		//white-space: nowrap;
	}
	li{
		display: inline-block;
		color:$fill-darkest;
		width: 33%;
		padding-right:2rem;
		margin-top:.5rem;
	}
	ul{
		list-style: none;
		padding-left:0px;
	}
	li *{
		display: inline;	
	}
	.type{
		background: #EBEBEB;
		margin-right: .25rem;
		box-sizing: border-box;
	    height: 1.25rem;
	    width: 1.25rem;
	    line-height: 1.25rem;
	    border-radius: 1.25rem;
	    display: inline-block;
	    font-size: 80%;
	    text-align: center;
	    font-weight: 400;
	    text-transform: uppercase;
	}

	.name{
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    max-width: 12rem;
	    display: inline-block;
	    overflow: hidden;
	    position: relative;
	    top: .25rem;

	}

	.type.active{
		background: #99CC66;
		color: white;
	}

	.delete{
		position:relative;
		//top:-.1rem;
		padding-left:.25rem;
		opacity: 0;
	}

	li:hover{
		.delete{
			opacity: 100;
		}
	}

}
