@import 'color';
@import 'susy/sass/susy';
@import 'grid';
@import 'util';
@import 'material_shadows';
@import 'typography';
@import 'discover';
@import 'form';
@import 'table';
@import 'navigation';
@import 'button';
@import 'login';

*{margin:0px; padding:0px; font-family: sans-serif;}

body{
	background: $fill;
	color:$black;
}

.block{
	@include container;
	box-sizing:border-box;
	padding:1.5rem gutter()*2;
}
.block-white{
	@extend .block;
	background:white;
}

.card{
	background:white;
	@include card(1);
}

// grid breaker
.aside{
	background:white;
	width: span(4) + gutter();
	float: left;
}
.content{	
	@include span(8 last);
	float: left;
	background:white;
}

.bd-top{
	border-top:1px solid $fill-dark;
}

header{
	background:$fill-lightest;
}

header, nav.tabs{
	@extend .block;
}

header .logo{
	float:left;
}

header .persona{
	float:right;
}





.logo{
	text-align: center;
	.name{
		color:$action-dark;

		line-height: 4rem;
		padding-right:1rem;		
	}
	.slogan{
		color:$fill-darkest;
		@extend .small;
		font-size: 80%;
		font-style: italic;
		text-transform: capitalize;
		position:relative;
		top:-.4rem;
		
	}
}

.logo.inline{
	text-align: left;
	.name{
		display:inline-block;
	}
}

.persona{
	.face{
		position: relative;
		top:.75rem;
		height:6rem;
		width:6rem;
	}
	.identity{
		display: inline-block;
		position: relative;
		top:-1rem;
		padding-left:1rem;
	}
}

.persona.sm{
	.identity{
		padding-right:1rem;
		top:0rem;
	}
	a{
		@extend .small;
	}
	.face{
		height:2rem;
		width:2rem;
	}
}


.persona.sm:hover{
	position:relative;
}
.persona.sm:hover nav#account ul{
	display: inline-block;
}


nav#account{
	padding:.5rem 1rem;
	display:block;
	width:100%;
	// overflow: auto;
	position:absolute;
}
nav#account ul {
	// background-color: red !important;
	padding:.5rem;
	box-sizing:border-box;
	display:none;
	@extend .card;
	min-width:100%;
	list-style: none;
}