hi, {{firstName}} {{lastName}}

you've been invited to join the fertilab talint. <br>

<a href="http://fertilab.talint.co/register">
	click on this link
</a>
, to signup or navigate to this url:<br>

http://fertilab.talint.co/register
