<a href="/login">login</a> <br> <br>
<a href="/register">signup</a> <br> <br>
<a href="/logout">logout</a> <br> <br>

<h1>talint</h1>

{{#if req.session.authenticated}}
	"loged in"
{{else}}
	"singpu already"
{{/if}}

