<header>
  <div class="logo inline">
    <h1 class="name">TalInt</h1>
    <span class="slogan">
      discover true potential
    </span>
  </div>
  <div class="persona sm">
    <a href="/profile">
      <span class="identity">Serah Philips</span>
      <img class="face" src="/images/face.png" height="38" width="41" alt="">
      <nav id="account">
        <ul>
          {{#if req.session.authenticated}}
            <a href="/logout">logout</a>
          {{else}}
            <li><a href="/login">login</a></li>
            <li><a href="/register">signup</a></li>
          {{/if}}
        </ul>
      </nav>       
    </a>
  </div>
</header>
<nav class="tabs">
  <ul>
    {{#if req.session.authenticated}}
       <li><a href="/user">search</a></li>
       <li><a href="/skills">skills</a></li>
       <li><a href="/skillsets">skillsets</a></li>
       <li><a href="/invites">invites</a></li>
    {{/if}}
  </ul>
</nav>

