<nav id="primary">
    <ul>
        <li> <h1> <a href="/">Talint</a> </h1></li>
        
        {{#if req.session.authenticated}}
           <li><a href="/logout">logout</a></li>
        {{else}}
            <li><a href="/login">login</a></li>
        {{/if}}

        <li><a href="/register">signup</a></li>

    </ul>
</nav>