.discover{
	border:1px solid rgba(0,0,0,.1);

	overflow: auto;
	height: 13rem;
}
.menu{
	background: rgb(102, 210, 102);
	width: 30%;
	height: 100%;
	float:left;
}
.menu a{
	color:white;
	text-decoration: none;
	border:1px solid rgba(0,0,0,.1);
	background: rgba(0,0,0,.10);


	display: inline-block;
	width: 100%;
	padding:1rem 1rem;
	box-sizing: border-box;
}
.menu a.focused, .menu a.focused:hover{
	background: rgb(67, 202, 67);
	border-right: 0px;
}
.menu a:hover{
	background: rgba(0,0,0,.15);
}
.filter, .requirements{
	width: 70%;
	height: 50%;
	float:right;
}
.filter{
	background:rgb(67, 202, 67);
}

.filter form{
	padding:2rem;
}

.filter form *{
	display: inline-block;
	margin-right:2rem;
}
.filter form input[type="range"]{
	position: relative;
	top:.25rem;
}
.requirements li{
	display: inline;
	padding-right:2rem;
}
ul{
	list-style: none;
	padding-left:0px;
}
li *{
	display: inline;	
}

.requirements ul{
	padding-left:2rem;
	position: relative;
	top:1.5rem;
}
.requirements span{
	cursor: pointer;
}
.delete{
	color:red;
}