<!DOCTYPE html>
<html>
  <head>
    <title>Talint</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/css/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/discover.css">
    <script src="/js/dependencies/sails.io.js" ></script>
    <script src="/js/dependencies/form2js.js" ></script>
    <script src="/js/dependencies/jsonForm.js"></script>
    <script src="/js/dependencies/crud.js" ></script>
  </head>

  <body>
    
  <div class="container">
    <div class="clearfix">
  
    {{{body}}}
    </div>
  </div>


  <script src="/js/dependencies/jquery-2.1.4.min.js" ></script>

  </body>
</html>
