<!DOCTYPE html>
<html>
  <head>
    <title>Talint</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/css/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/discover.css">
    <script src="/js/dependencies/sails.io.js" ></script>
    <script src="/js/dependencies/form2js.js" ></script>
    <script src="/js/dependencies/jsonForm.js"></script>
    <script src="/js/dependencies/crud.js" ></script>

    <script src="/js/dependencies/node_modules/react/dist/react-with-addons.js" ></script>
    <script src="/js/dependencies/node_modules/react/dist/JSXTransformer.js" ></script> 
    <script src="/js/dependencies/reactable.js" ></script>

    <script src="/js/skillDiff.js"></script>
    <script src="/js/util.js"></script>
    <script type="text/jsx" src="/js/discover.js" ></script>
    <script type="text/jsx" src="/js/recursiveMenu.js" ></script>
    <script type="text/jsx" src="/js/skillDisplay.js" ></script>
    <script type="text/jsx" src="/js/widgets.js" ></script>
    <script type="text/jsx" src="/js/userTable.js" ></script>
    
  </head>

  <body>
    
  <div class="container">
    <div class="clearfix">
    
    {{> links }} 
  
    {{{body}}}
    </div>
  </div>

  
  <script type="text/jsx">
    /* React.render(
      <Discover/>,
      document.getElementById('discover')
    ); */
  </script>


  <script src="/js/dependencies/list.min.js" ></script>
  <script src="/js/userlist.js" ></script>
  <script src="/js/dependencies/jquery-2.1.4.min.js" ></script>
  <script src="/js/dependencies/poshytip-1.2/src/jquery.poshytip.js" ></script>
  <script src="/js/dependencies/jquery.xedit.min.js" ></script>

  </body>
</html>
