<!DOCTYPE html>
<html>
  <head>
    <title>Talint</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/css/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/discover.css">
    <link rel="stylesheet" href="/styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="/js/dependencies/node_modules/remodal/dist/remodal.css"></link>
    <link rel="stylesheet" href="/styles/css/remodal-default-theme.css"></link>
    <link rel="stylesheet" href="/styles/css/talint.css"></link>
    <script src="/js/dependencies/sails.io.js" ></script>
    <script src="/js/dependencies/form2js.js" ></script>
    <script src="/js/dependencies/jsonForm.js"></script>
    <script src="/js/dependencies/crud.js" ></script>
    <script src="/js/dependencies/node_modules/underscore/underscore-min.js" ></script>
    <script src="/js/dependencies/node_modules/remodal/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/js/dependencies/node_modules/remodal/dist/remodal.js"></script>

    <script src="/js/dependencies/node_modules/react/dist/react-with-addons.js" ></script>
    <script src="/js/dependencies/node_modules/react/dist/JSXTransformer.js" ></script> 
    <script src="/js/dependencies/reactable.js" ></script>

    <script src="/js/skillDiff.js"></script>
    <script src="/js/util.js"></script>
    <script type="text/jsx" src="/js/widgets.js" ></script>
    <script type="text/jsx" src="/js/semanticdiscover.js" ></script>
    <script type="text/jsx" src="/js/recursiveMenu.js" ></script>
    <script type="text/jsx" src="/js/skillDisplay.js" ></script>
    <script type="text/jsx" src="/js/userTable.js" ></script>

    <script>
      activeUserId={{req.user.id}}
    </script>
    
  </head>

  <body>

  <div class="container">
    <div class="clearfix">
    
    {{> links }} 


  
    {{{body}}}
    </div>
  </div>



  </body>
</html>
