<!DOCTYPE html>
<html>
  <head>
    <title>Talint</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script src="/js/dependencies/sails.io.js" ></script>
    <script src="/js/dependencies/form2js.js" ></script>
    <script src="/js/dependencies/jsonForm.js"></script>
    <script src="/js/dependencies/crud.js" ></script>    

  </head>

  <body>
    
  <div id="wrapper">
    {{> links }} 
  
    {{{body}}}
  </div>


  <script src="/js/dependencies/list.min.js" ></script>
  <script src="/js/userlist.js" ></script>
  <script src="/js/dependencies/jquery-2.1.4.min.js" ></script>
  <script src="/js/dependencies/poshytip-1.2/src/jquery.poshytip.js" ></script>
  <script src="/js/dependencies/jquery.xedit.min.js" ></script>

  <script>
    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function() {
        $('#username').editable({
            type: 'text',
            pk: 1,
            url: '/status',
            title: 'Enter username',
            success: function(res, val) {
              console.log(res);
            }
        });
    });
  </script>

  </body>
</html>
