<script>
	setActiveMainMenuTab('favorites');
</script>

<div class="block-white">
<h1>favorites</h1>
<ul>
{{#each follows}}
	<li>
		<a href="/user/{{id}}">
			{{firstname}} {{lastname}}
		</a>
	</li>
{{/each}}
</ul>

</div>