<div class="col-4 px2 mx-auto sheet sheet-grey">
	<h3>login</h3>
	<form class="form-inline" role="form" action="/auth/local" method="post" >
	 <label for="identifier">Email</label>
	 <input type="text" name="identifier" placeholder="Username or Email" class="field" >
	 <label for="password">password</label>
	 <input type="password" name="password" placeholder="Password" class="field" >
	 <button class="btn btn-primary" type="submit">Sign in</button>
	</form>
</div>

{{#each providers}}
  <a href="/auth/{{slug}}">{{name}}</a>
{{/each}}



