<div class="login">
	<div class="logo">
		<h1 class="name">TalInt</h1>
		<span class="slogan">
			discover true potential
		</span>
		<p>
			welcome! 
		</p>
	</div>
	<form  role="form" action="/auth/local/register" method="post">
	  <input type="text" name="username" placeholder="Username">
	  <input type="text" name="email" placeholder="Email">
	  <label for="password">password</label>
	  <input type="password" name="password" placeholder="Password">
	  <button class="button" type="submit">Sign up</button> 
	</form>

</div>