<form action="/api/skills" method="POST" >
	<label for="name">name</label>
	<input class="field" type="text" name="name" id="name" placeholder="name">

	<label for="quantifier">name</label>
	<select class="field" name="quantifier" id="quantifier">
		<option value="binary">binary</option>
		<option value="range">range</option>
	</select>

	<input class="btn btn-primary" type="submit">

</form>