<form action="/api/skills" method="POST" >
	<label for="name">name</label>
	<input type="text" name="name" id="name" placeholder="name">

	<label for="quantifier">name</label>
	<select name="quantifier" id="quantifier">
		<option value="binary">binary</option>
		<option value="range">range</option>
	</select>

	<input type="submit">

</form>