{{!-- {{#each providers}}
  <a href="/auth/{{slug}}">{{name}}</a>
{{/each}} --}}

{{!-- <div class="login">
	<div class="logo">
		<h1 class="name">TalInt</h1>
		<span class="slogan">
			discover true potential
		</span>
		<p>{{errors}}</p>
	</div>

	<form class="form-inline" role="form" action="/auth/local" method="post" >
		 <label for="identifier">Email</label>
		 <input type="text" name="identifier" placeholder="Username or Email" class="field" >
		 <label for="password">password</label>
		 <input type="password" name="password" placeholder="Password" class="field" >
		 <button class="button" type="submit">Sign in</button>
</div> --}}

<div class="ui card login" style="margin-top:10%">
    <div class="center aligned content">
    	<div class="logo">
			<h1 class="name">TalInt</h1>
			<span class="slogan">
				discover true potential
			</span>		
    	</div>
    </div>
    <div class="left aligned content">
    	<form class="ui form" role="form" action="/auth/local" method="post">
    	    <div class="field">
    	    	<div class="ui fluid left icon input">
    	    	  <i class="mail outline icon"></i>
    	    	  <input type="text" autofocus name="identifier" placeholder="email">
    	    	</div>
    	    </div>
    	    <div class="field">
    	    	<div class="ui fluid left icon input">
    	    	  <i class="unlock alternate icon"></i>
    	    	  <input type="password" name="password" placeholder="password">
    	    	</div>
    	    </div>
    	    <button type="submit" class="ui fluid green big submit button">Login in</button>
    	</form>
    	<br>
    </div>	
	{{!-- <div class="content alternative">
			<p class="left floated note">Or sign in with:</p>
		<button class="ui right floated icon button">
			<i class="facebook icon"></i>
		</button>
		<button class="ui right floated icon button">
			<i class="linkedin icon"></i>
		</button>
		<button class="ui right floated icon button">
			<i class="google plus icon"></i>
		</button>
	</div> --}}
</div>





