* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.edit > .recursiveMenu > .switch {
  align-items: center;
  display: flex; }
  .edit > .recursiveMenu > .switch .switch {
    display: flex !important; }

.bio p {
  min-height: 1.5rem; }

.skilltag {
  margin-bottom: .25rem !important; }

@media (max-width: 557px) {
  #userTable {
    overflow: scroll;
    position: relative;
    right: 14px;
    width: calc(100% + 14px); }

  .discover {
    position: relative;
    right: 28px;
    width: calc(100% + 56px); } }
.persona h1.name {
  margin-bottom: 0px; }

.persona .face {
  position: relative;
  top: .75rem;
  height: 6rem;
  width: 6rem; }
.persona .identity {
  display: inline-block;
  position: relative;
  top: -1rem;
  padding-left: 1rem; }

@media (min-width: 513px) and (max-width: 1208px) {
  .persona .identity.edit {
    max-width: 200px; } }
@media (max-width: 513px) {
  .persona .identity.edit {
    padding-left: 0rem !important;
    padding-top: 3rem; } }
.fitted.column {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.column .column {
  padding: 0px  !important; }

#info h4 {
  margin-bottom: 0px;
  margin-top: 14px; }

#info input {
  width: 90%; }

#discover, #discoverViewOnly {
  width: 100%; }

.discover {
  position: relative; }
  .discover .suggest {
    position: relative;
    top: -1rem;
    float: right;
    padding-left: 1rem;
    font-size: 90%; }
  .discover .edit {
    display: flex;
    background: #99CC66; }
  .discover .edit > .recursiveMenu {
    display: flex !important; }
  .discover .recursiveMenu select {
    margin: 0 1rem;
    display: inline-block;
    max-width: 8rem; }
  .discover .recursiveMenu .switch .switch {
    display: inline-block !important; }
  .discover .recursiveMenu .list {
    background: #EBEBEB;
    line-height: 3rem;
    max-height: 9rem;
    overflow: scroll;
    list-style: none; }
    .discover .recursiveMenu .list li {
      padding: 0 7rem 0 1rem;
      color: #8F8F8F;
      cursor: pointer; }
      .discover .recursiveMenu .list li:hover {
        background: #e1e1e1; }
    .discover .recursiveMenu .list .sel {
      background: #99CC66 !important;
      color: white; }
  .discover .skillRange {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    align-items: center; }
  .discover .input {
    margin-top: 1.5rem; }
  .discover .labels {
    position: relative;
    color: white; }
    .discover .labels .from {
      position: absolute;
      left: 0px;
      cursor: pointer; }
    .discover .labels .to {
      position: absolute;
      right: 0px;
      cursor: pointer; }
    .discover .labels .value {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 80%; }

.skillDisplay {
  padding: .5rem 0 1.25rem; }
  .skillDisplay .child {
    font-size: 90%; }
  .skillDisplay span {
    display: inline; }
  .skillDisplay li {
    display: inline-block;
    color: #8F8F8F;
    width: 33%;
    padding-right: 2rem;
    margin-top: .5rem; }
  .skillDisplay ul {
    list-style: none;
    padding-left: 0px; }
  .skillDisplay li * {
    display: inline; }
  .skillDisplay .type {
    background: #EBEBEB;
    margin-right: .25rem;
    box-sizing: border-box;
    height: 1.25rem;
    width: 1.25rem;
    line-height: 1.25rem;
    border-radius: 1.25rem;
    display: inline-block;
    font-size: 80%;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase; }
  .skillDisplay .name {
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    top: .8rem;
    display: inline-block;
    overflow: hidden; }
    .skillDisplay .name span {
      text-overflow: ellipsis;
      display: inline-block;
      overflow: hidden; }
    .skillDisplay .name:hover {
      text-decoration: underline; }
  .skillDisplay .type.active {
    background: #99CC66;
    color: white; }
  .skillDisplay .delete {
    position: relative;
    cursor: pointer;
    padding-left: .25rem;
    opacity: 0; }
  .skillDisplay li:hover .delete {
    opacity: 100; }

/*# sourceMappingURL=discover.css.map */
