body{
	background: #EBEBEB;
	/*background: url('~/Users/admin/Code/semantic/public//whitedudes.jpg');*/

}

.grid{
	/*max-width: 960px;*/
	margin:auto !important;
}

.login{
	width: 25rem !important;
	margin: auto !important;
	max-width: 90% !important;
	margin-top: 10% !important;
	margin-bottom: -20% !important;
}

.login .alternative{
	background: #f7f7f7 !important;
}

.logo h1{
	color: #85C160;
    line-height: 4rem;
    padding-right: 1rem;
    margin-bottom:0px;
}

.logo .slogan {
    color: #8F8F8F;
    font-style: italic;
    text-transform: capitalize;
    position: relative;
    top: -.4rem;
}
.inline{
	display:inline;
}

.note{
	line-height: 36px;
	margin-bottom: 0px !important;
	color: #8F8F8F;
}

.button{
	font-weight: 100 !important;
	letter-spacing: .05rem !important;
}

.container , .container > .segment{
	border-radius:0px !important;
}

.container > .segment{
	padding:2rem;
}


.head{
	/*overflow: auto;*/
	/*height: 8rem;*/
}
.head .persona{
	float:right !important;
	padding-top: 1rem; 
	position: relative !important;
	right: -1rem !important;
}
.head .logo{
	float:left !important;
}





.main-menu{
	position: relative;
    /* top: 3.1rem; */
    z-index: 1;
    margin-top: 1.5rem !important;
    margin-bottom: -3.1rem !important;
}


@media only screen and (max-width: 767px){
.ui.grid .ui.stackable.grid, .ui.segment:not(.vertical) .ui.stackable.page.grid {
     margin-left: 0rem!important; 
    margin-right: -1rem!important;
}
.container.segments{
	margin-right:0px !important;
	margin-left:0px !important;
}
.container > .segment{
	padding:1rem;
}
.main-menu{
	margin-bottom: -2.1rem !important;
}
.computer.only{
	display: none;
}
}