body {
  overflow-x: hidden;
  overflow-y: scroll; }

.center {
  text-align: center; }
  .center * {
    margin: auto; }

.right * {
  float: right; }

.grid-8 {
  width: 66.10169%;
  float: left; }

.grid-4 {
  width: 32.20339%;
  float: left; }

.grid-6 {
  width: 50%;
  float: left; }

aside.grid-4 {
  width: 32.20339%;
  position: relative; }

/**
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Computes a bottom-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */
.small, .fyi, .logo .slogan, .persona.sm a {
  font-size: 70%;
  color: darkgray;
  font-weight: 100; }

.fyi {
  float: right; }

.delete {
  color: red; }

a {
  color: #99CC66; }

h2 {
  color: #8F8F8F;
  font-weight: 300; }

h4 {
  font-weight: 400;
  color: #8F8F8F;
  text-transform: capitalize;
  margin-bottom: .75rem;
  margin-top: 1rem; }

p {
  font-size: 90%;
  line-height: 1.5rem; }

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.edit > .recursiveMenu > .switch {
  align-items: center;
  display: flex; }
  .edit > .recursiveMenu > .switch .switch {
    display: flex !important; }

.bio p {
  min-height: 1.5rem; }

.discover {
  position: relative; }
  .discover .suggest {
    position: relative;
    top: -1rem;
    float: right;
    padding-left: 1rem;
    font-size: 90%; }
  .discover .edit {
    display: flex;
    background: #99CC66; }
  .discover .edit > .recursiveMenu {
    display: flex !important; }
  .discover .recursiveMenu select {
    margin: 0 1rem;
    display: inline-block;
    max-width: 8rem; }
  .discover .recursiveMenu .switch .switch {
    display: inline-block !important; }
  .discover .recursiveMenu .list {
    background: #EBEBEB;
    line-height: 3rem;
    max-height: 9rem;
    overflow: scroll;
    list-style: none; }
    .discover .recursiveMenu .list li {
      padding: 0 7rem 0 1rem;
      color: #8F8F8F;
      cursor: pointer; }
      .discover .recursiveMenu .list li:hover {
        background: #e1e1e1; }
    .discover .recursiveMenu .list .sel {
      background: #99CC66 !important;
      color: white; }
  .discover .skillRange {
    display: flex;
    align-items: center; }
  .discover .input {
    margin-top: 1.5rem; }
  .discover .labels {
    position: relative;
    color: white; }
    .discover .labels .from {
      position: absolute;
      left: 0px;
      cursor: pointer; }
    .discover .labels .to {
      position: absolute;
      right: 0px;
      cursor: pointer; }
    .discover .labels .value {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 80%; }

.skillDisplay {
  padding: .5rem 0 1.25rem; }
  .skillDisplay .child {
    font-size: 90%; }
  .skillDisplay span {
    display: inline; }
  .skillDisplay li {
    display: inline-block;
    color: #8F8F8F;
    width: 33%;
    padding-right: 2rem;
    margin-top: .5rem; }
  .skillDisplay ul {
    list-style: none;
    padding-left: 0px; }
  .skillDisplay li * {
    display: inline; }
  .skillDisplay .type {
    background: #EBEBEB;
    margin-right: .25rem;
    box-sizing: border-box;
    height: 1.25rem;
    width: 1.25rem;
    line-height: 1.25rem;
    border-radius: 1.25rem;
    display: inline-block;
    font-size: 80%;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase; }
  .skillDisplay .name {
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    top: .45rem;
    display: inline-block;
    overflow: hidden;
    max-width: 12rem; }
    .skillDisplay .name span {
      text-overflow: ellipsis;
      max-width: 10rem;
      display: inline-block;
      overflow: hidden; }
    .skillDisplay .name:hover {
      text-decoration: underline; }
  .skillDisplay .type.active {
    background: #99CC66;
    color: white; }
  .skillDisplay .delete {
    position: relative;
    cursor: pointer;
    padding-left: .25rem;
    opacity: 0; }
  .skillDisplay li:hover .delete {
    opacity: 100; }

form label {
  padding-top: 1rem; }
form .field {
  padding: .25rem; }
form .button, form nav.tabs li, nav.tabs form li {
  line-height: 1.5rem;
  background: #99CC66; }

form.center {
  margin: auto;
  width: 18rem; }
  form.center label {
    text-align: left !important; }
  form.center * {
    display: block; }
  form.center .field {
    min-width: 18rem; }
  form.center .button, form.center nav.tabs li, nav.tabs form.center li {
    min-width: 18rem; }

table, th, td {
  border: 1px solid #EBEBEB; }

table {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-collapse: collapse;
  text-align: left;
  font-size: 90%; }
  table th {
    margin: 0px !important;
    padding: .75rem;
    font-weight: 500;
    color: #5c5c5c;
    text-transform: capitalize; }
  table td {
    padding: .5rem .75rem; }
  table tr:nth-child(2n) {
    background: #f8f8f8; }
  table .face {
    height: 2rem;
    position: relative; }

nav.tabs ul {
  list-style: none; }
  nav.tabs ul li {
    display: inline; }

nav.tabs {
  background: #FFF;
  padding-bottom: 2px !important;
  padding-top: 0px;
  border-bottom: 1px solid #EBEBEB; }

nav.tabs li {
  background: #EBEBEB;
  border-bottom: 0px; }
  nav.tabs li a {
    color: #8F8F8F; }
    nav.tabs li a:hover {
      color: #99CC66; }

nav.tabs li.active {
  background: white; }

.button, nav.tabs li {
  padding: 0.5rem 3.38983%;
  line-height: 2rem;
  border: 1px solid #EBEBEB;
  text-decoration: none;
  cursor: pointer; }
  .button a, nav.tabs li a {
    text-decoration: none;
    cursor: pointer; }

.button.green, nav.tabs li.green {
  background: #99CC66;
  color: white; }

.button.md, nav.tabs li.md {
  font-size: 100%;
  padding: .5rem 1rem; }

.login {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  width: 90%;
  max-width: 400px !important;
  margin: auto;
  margin-top: 6.77966%; }
  .login label, .login input, .login .button, .login nav.tabs li, nav.tabs .login li {
    width: 100%;
    line-height: 2rem;
    display: inline-block;
    box-sizing: border-box; }
  .login label {
    color: #8F8F8F; }
  .login input {
    padding-left: .5rem; }
  .login .button, .login nav.tabs li, nav.tabs .login li {
    margin-top: 2rem;
    text-align: center;
    background: white;
    font-size: 120%;
    color: #FFF;
    background-color: #99CC66;
    border: 0px; }
    .login .button:hover, .login nav.tabs li:hover, nav.tabs .login li:hover {
      box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif; }

body {
  background: #EBEBEB;
  color: #333333; }

.block, .block-white, .login, header, nav.tabs {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 1.5rem 3.38983%; }
  .block:after, .block-white:after, .login:after, header:after, nav.tabs:after {
    content: " ";
    display: block;
    clear: both; }

.block-white, .login {
  background: white; }

.card, nav#account ul {
  background: white;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.aside {
  background: white;
  width: 33.89831%;
  float: left; }

.content {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  float: left;
  background: white; }

.bd-top {
  border-top: 1px solid #EBEBEB; }

header {
  background: #FFF; }

header .logo {
  float: left; }

header .persona {
  float: right; }

.logo {
  text-align: center; }
  .logo .name {
    color: #85C160;
    line-height: 4rem;
    padding-right: 1rem; }
  .logo .slogan {
    color: #8F8F8F;
    font-size: 80%;
    font-style: italic;
    text-transform: capitalize;
    position: relative;
    top: -.4rem; }

.logo.inline {
  text-align: left; }
  .logo.inline .name {
    display: inline-block; }

.persona .face {
  position: relative;
  top: .75rem;
  height: 6rem;
  width: 6rem; }
.persona .identity {
  display: inline-block;
  position: relative;
  top: -1rem;
  padding-left: 1rem; }

.persona.sm .identity {
  padding-right: 1rem;
  top: 0rem; }
.persona.sm .face {
  height: 2rem;
  width: 2rem; }

.persona.sm:hover {
  position: relative; }

.persona.sm:hover nav#account ul {
  display: inline-block; }

nav#account {
  padding: .5rem 1rem;
  display: block;
  width: 100%;
  position: absolute; }

nav#account ul {
  padding: .5rem;
  box-sizing: border-box;
  display: none;
  min-width: 100%;
  list-style: none; }

/*# sourceMappingURL=main.css.map */
